.equal-height {
    display: flex;
    flex-wrap: wrap;
}

.equal-height [class^="col-"] {
  display: flex;
  flex-direction: column;
}

.equal-height .card {
  flex-grow: 1;
}

.profile-user-img {
  border: 3px solid #adb5bd;
  margin: 0 auto;
  padding: 3px;
  width: 150px;
}