<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Users</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Blank Page</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content" *ngIf="list">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <mat-tab-group>
                    <mat-tab>
                        <ng-template mat-tab-label>
                        <i class="fas fa-user icon" style="padding-right: 2px;"></i>
                        System Users
                        </ng-template> 
                        <div class="row">
                            <div class="col-lg-12 text-right mt-2">
                                <button type="button" class="btn btn-primary mr-2" (click)="openModal(addModal)">
                                  <i class="bi bi-file-earmark-plus"></i>
                                  Create
                                </button>
                            </div>
                        </div>
                        <div class="table-responsive mt-2" *ngIf="users?.length">
                            <table class="table-striped" datatable [dtOptions]="dtOptions">
                            <thead>
                                <tr>
                                <th>No.</th>
                                <th>Email</th>
                                <th>Full Name</th>
                                <!-- <th>Creation Date</th> -->
                                <th>Contact</th>
                                <th>Designation</th>
                                <th>Group</th>
                                <th>Status</th>
                                <th class="noExport"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of users; let i = index;">
                                <td>{{ i+1 }}</td>
                                <td>{{ data.doc.email }}</td>
                                <td>{{ data.doc.lastName }}, {{ data.doc.firstName }} {{ data.doc.middleName }}</td>
                                <!-- <td>{{ data.doc.creationDate | date:'LLL d, yyy' }}</td> -->
                                <td>{{ data.doc.contact }}</td>
                                <td>{{ data.doc.designation }}</td>
                                <td>{{ getGroupName(data.doc.setting_id) }}</td>
                                <td>
                                    {{data.doc.isActive == true ? 'Active' : 'Inactive'}}
                                </td>
                                <td>
                                    <div class="dropdown">
                                    <button class="btn btn-light btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item text-default" (click)="editUser(editModal, data.doc)">Edit</a>
                                        <a class="dropdown-item text-danger" (click)="deleteUser(data.doc._id, data.doc._rev)">Delete</a>
                                    </div>
                                    </div>
                                </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </mat-tab>
                    
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <i class="fas fa-users icon" style="padding-right: 2px;"></i>
                            User Group
                        </ng-template>
                        <div class="row">
                            <div class="col-lg-12 text-right mt-2">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="bi bi-file-earmark-plus"></i>Create</button>
                                <button (click)="refresh()" class="btn btn-default rfresh"><i class="bi bi-arrow-clockwise"></i>Refresh</button>
                                <!-- <button class="btn btn-primary report"><i class="bi bi-printer-fill"></i>Report</button> -->
                            </div>
                        </div>
                        <div class="table-responsive mt-2" *ngIf="users.length">
                            <table class="table table-striped" datatable [dtOptions]="dtOptions">
                                <thead>
                                    <tr>
                                        <th class="num">
                                            #
                                        </th>
                                        <th>
                                            GROUP ID
                                        </th>
                                        <th>
                                            GROUP NAME
                                        </th>
                                        <th>
                                            DESCRIPTION
                                        </th>
                                        <th>
                                            INACTIVE
                                        </th>
                                        <th class="butn noExport">
                                            EDIT/DELETE
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let display of list; let i = index">
                                        <td class="num">
                                            {{ i + 1 }}
                                        </td>
                                        <td>
                                            {{display.doc.group_id}}
                                        </td>
                                        <td>
                                            {{display.doc.group_name}}
                                        </td>
                                        <td>
                                            {{display.doc.description}}
                                        </td>
                                        <td>
                                            {{display.doc.inactive == 1 ? 'Yes' : 'No'}}
                                        </td>
                                        <td class="butn">
                                            <button (click)="open(display.doc)" class="btn btn-info" data-toggle="modal" data-target="#editModal"><i class="bi bi-pencil-square"></i>Edit</button>
                                            <button (click)="del(display.doc)" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"><i class="bi bi-x-circle-fill"></i>Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>  
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <!-- /.card-body -->
            <!-- /.card-footer-->
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
<!-- Create Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Create New Group</h2>
                <i class="bi bi-x close btn" data-dismiss="modal"></i>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form [formGroup]="createForm">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="fname">Group Code*</label>
                                <input type="text" class="form-control" name="gcode" placeholder="Group Code" formControlName="group_id"/>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group form-check" style="margin-top: 35px !important;">
                                <input class="form-check-input" type="checkbox" checked="checked" name="inactive" formControlName="inactive" id="inactive">
                                <label class="form-check-label" for="inactive">Inactive</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="group_name">Group Name*</label>
                                <input type="text" class="form-control" name="group_name" placeholder="Group Name" formControlName="group_name"/>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="description">Description*</label>
                                <input type="text" class="form-control" name="description" placeholder="Group Description" formControlName="description"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button [disabled]="!createForm.valid"(click)="createGroup()" type="button" data-dismiss="modal" class="btn btn-warning saveGroup"><i class="fas fa-users"></i>Save Group</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="bi bi-x-lg"></i>Close</button>
            </div>
        
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Edit Group</h2>
                <i class="bi bi-x close btn" data-dismiss="modal"></i>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form [formGroup]="editForm">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="fname">Group Code*</label>
                                <input type="text" class="form-control" name="gcode" placeholder="Group Code" formControlName="group_id"/>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group form-check" style="margin-top: 35px !important;">
                                <input class="form-check-input" type="checkbox" name="inactive" formControlName="inactive" id="inactive">
                                <label class="form-check-label" for="inactive">Inactive</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="group_name">Group Name*</label>
                                <input type="text" class="form-control" name="group_name" placeholder="Group Name" formControlName="group_name"/>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="description">Description*</label>
                                <input type="text" class="form-control" name="description" placeholder="Group Description" formControlName="description"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button [disabled]="!editForm.valid" (click)="editGroup()" data-dismiss="modal" type="button" class="btn btn-warning saveGroup"><i class="fas fa-users"></i>Save Group</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="bi bi-x-lg"></i>Close</button>
            </div>
        
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" >
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-danger"><i class="bi bi-exclamation-triangle-fill"></i>Warning!!!</h2>
                <i class="bi bi-x close btn" data-dismiss="modal"></i>
            </div>
            <!-- Modal body -->
                <div class="modal-body">
                Are you sure you want to delete this Group?
                </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button (click)="deleteGroup(id, rev)" data-dismiss="modal" type="button" class="btn btn-danger delGroup"><i class="bi bi-trash-fill"></i>Continue</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="bi bi-x-lg"></i>Close</button>
            </div>
        </div>
    </div>
</div>


<ng-template #addModal>
	<div class="modal-header">
		<h1 class="modal-title" id="modal-basic-title">Add New User</h1>
		<!-- <button type="button" class="close" aria-label="Close" (click)="dismiss(); f.reset()">
            <span aria-hidden="true">&times;</span>
        </button> -->
	</div>
	<div class="modal-body">
		<form [formGroup]="form" #ngForm (ngSubmit)="submitJobOpening()">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="firstName" class="form-label">First Name<span class="text-danger">*</span></label>
                    <input name="firstName" id="firstName" class="form-control" formControlName="firstName">
                    <div class="text-danger" *ngIf="!f.get('firstName').valid && f.get('firstName').touched">
                    Please provide valid input.
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="middleName" class="form-label">Middle Name</label>
                    <input name="middleName" id="middleName" class="form-control" formControlName="middleName">
                    <div class="text-danger" *ngIf="!f.get('middleName').valid && f.get('middleName').touched">
                    Please provide valid input.
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="lastName" class="form-label">Last Name<span class="text-danger">*</span></label>
                    <input name="lastName" id="lastName" class="form-control" formControlName="lastName">
                    <div class="text-danger" *ngIf="!f.get('lastName').valid && f.get('lastName').touched">
                    Please provide valid input.
                    </div>
                </div>
            </div>
            <div class="col-lg-6">  
                <div class="form-group">
                    <label for="email" class="form-label">Email<span class="text-danger">*</span></label>
                    <input name="email" id="email" class="form-control" formControlName="email" type="email">
                    <div class="text-danger" *ngIf="!f.get('email').valid && f.get('email').touched">
                    Please provide valid input.
                    </div>
                </div>
            </div>
            <div class="col-lg-6">  
                <div class="form-group">
                    <label for="password" class="form-label">Password<span class="text-danger">*</span></label>
                    <input name="password" id="password" class="form-control" formControlName="password" type="password">
                    <div class="text-danger" *ngIf="!f.get('password').valid && f.get('password').touched">
                    Please provide valid input.
                    </div>
                </div>
            </div>
            <div class="col-lg-6">  
                <div class="form-group">
                    <label for="retypePassword" class="form-label">Retype Password<span class="text-danger">*</span></label>
                    <input name="retypePassword" id="retypePassword" class="form-control" formControlName="retypePassword" type="password">
                    <div class="text-danger" *ngIf="!f.get('retypePassword').valid && f.get('retypePassword').touched">
                    Please provide valid input.
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="contact" class="form-label">Contact<span class="text-danger">*</span></label>
                    <input name="contact" id="contact" class="form-control" formControlName="contact">
                    <div class="text-danger" *ngIf="!f.get('contact').valid && f.get('contact').touched">
                    Please provide valid input.
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="designation" class="form-label">Designation<span class="text-danger">*</span></label>
                    <input name="designation" id="designation" class="form-control" formControlName="designation">
                    <div class="text-danger" *ngIf="!f.get('designation').valid && f.get('designation').touched">
                    Please provide valid input.
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="setting_id" class="form-label">Group<span class="text-danger">*</span></label>
                    <select class="form-control" formControlName="setting_id">
                        <option [value]="null">Select Group</option>
                        <option  *ngFor="let l of list" [value]="l.id">{{l.doc.group_name}}</option>
                    </select>
                    <div class="text-danger" *ngIf="!f.get('setting_id').valid && f.get('setting_id').touched">
                    Please provide valid input.
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group form-check" style="margin-top: 35px !important;">
                    <input class="form-check-input" type="checkbox" checked="checked" name="isActive" formControlName="isActive" id="isActive">
                    <label class="form-check-label" for="isActive">Active</label>
                </div>
            </div>
        </div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="dismiss(); f.reset()">Cancel</button>
		<button type="submit" class="btn btn-success" (click)="saveUser()">Save</button>
	</div>
</ng-template>

<ng-template #editModal>
	<div class="modal-header">
		<h1 class="modal-title" id="modal-basic-title">Edit User</h1>
		<!-- <button type="button" class="close" aria-label="Close" (click)="dismiss(); f.reset()">
            <span aria-hidden="true">&times;</span>
        </button> -->
	</div>
	<div class="modal-body">
		<form [formGroup]="editUserForm" #ngForm (ngSubmit)="submitJobOpening()">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="firstName" class="form-label">First Name<span class="text-danger">*</span></label>
                    <input name="firstName" id="firstName" class="form-control" formControlName="firstName">
                    <div class="text-danger" *ngIf="!editUserForm.get('firstName').valid && editUserForm.get('firstName').touched">
                    Please provide valid input.
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="middleName" class="form-label">Middle Name</label>
                    <input name="middleName" id="middleName" class="form-control" formControlName="middleName">
                    <div class="text-danger" *ngIf="!editUserForm.get('middleName').valid && editUserForm.get('middleName').touched">
                    Please provide valid input.
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="lastName" class="form-label">Last Name<span class="text-danger">*</span></label>
                    <input name="lastName" id="lastName" class="form-control" formControlName="lastName">
                    <div class="text-danger" *ngIf="!editUserForm.get('lastName').valid && editUserForm.get('lastName').touched">
                    Please provide valid input.
                    </div>
                </div>
            </div>
            <div class="col-lg-6">  
                <div class="form-group">
                    <label for="email" class="form-label">Email<span class="text-danger">*</span></label>
                    <input name="email" id="email" class="form-control" formControlName="email" type="email">
                    <div class="text-danger" *ngIf="!editUserForm.get('email').valid && editUserForm.get('email').touched">
                    Please provide valid input.
                    </div>
                </div>
            </div>
            <div class="col-lg-6">  
                <div class="form-group">
                    <label for="password" class="form-label">Password<span class="text-danger">*</span></label>
                    <input name="password" id="password" class="form-control" formControlName="password" type="password">
                    <div class="text-danger" *ngIf="!f.get('password').valid && f.get('password').touched">
                    Please provide valid input.
                    </div>
                </div>
            </div>
            <div class="col-lg-6">  
                <div class="form-group">
                    <label for="retypePassword" class="form-label">Retype Password<span class="text-danger">*</span></label>
                    <input name="retypePassword" id="retypePassword" class="form-control" formControlName="retypePassword" type="password">
                    <div class="text-danger" *ngIf="!f.get('retypePassword').valid && f.get('retypePassword').touched">
                    Please provide valid input.
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="contact" class="form-label">Contact<span class="text-danger">*</span></label>
                    <input name="contact" id="contact" class="form-control" formControlName="contact">
                    <div class="text-danger" *ngIf="!editUserForm.get('contact').valid && editUserForm.get('contact').touched">
                    Please provide valid input.
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="designation" class="form-label">Designation<span class="text-danger">*</span></label>
                    <input name="designation" id="designation" class="form-control" formControlName="designation">
                    <div class="text-danger" *ngIf="!editUserForm.get('designation').valid && editUserForm.get('designation').touched">
                    Please provide valid input.
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="setting_id" class="form-label">Group<span class="text-danger">*</span></label>
                    <select class="form-control" formControlName="setting_id">
                        <option [value]="null">Select Group</option>
                        <option  *ngFor="let l of list" [value]="l.id">{{l.doc.group_name}}</option>
                    </select>
                    <div class="text-danger" *ngIf="!editUserForm.get('setting_id').valid && editUserForm.get('setting_id').touched">
                    Please provide valid input.
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group form-check" style="margin-top: 35px !important;">
                    <input class="form-check-input" type="checkbox" checked="checked" name="isActive" formControlName="isActive" id="isActive">
                    <label class="form-check-label" for="isActive">Active</label>
                </div>
            </div>
        </div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="dismiss(); f.reset()">Cancel</button>
		<button type="submit" class="btn btn-success" (click)="updateUser(editUserForm.get('_id').value)">Update</button>
	</div>
</ng-template>