.mat-expansion-panel-header.mat-expanded:focus, 
.mat-expansion-panel-header.mat-expanded:hover{
   background-color: #17a2b8!important;
   .mat-expansion-panel-header-title{
       color: white;
   }
   .mat-expansion-panel-header-description, .mat-expansion-indicator::after{
    color: rgb(225, 225, 225);
   }
 }

.equal-height {
  display: flex;
  flex-wrap: wrap;
}

.equal-height [class^="col-"] {
display: flex;
flex-direction: column;
}

.equal-height .card {
flex-grow: 1;
}